[submodule "gateware/litex"]
	path = gateware/litex
	url = https://github.com/zsipos/litex
[submodule "gateware/migen"]
	path = gateware/migen
	url = https://github.com/m-labs/migen
[submodule "gateware/liteeth"]
	path = gateware/liteeth
	url = https://github.com/zsipos/liteeth
[submodule "riscv-gnu-toolchain"]
	path = toolchain/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "gateware/litedram"]
	path = gateware/litedram
	url = https://github.com/zsipos/litedram
[submodule "kernel/riscv-pk"]
	path = kernel/riscv-pk
	url = https://github.com/zsipos/riscv-pk
[submodule "kernel/linux"]
	path = kernel/linux
	url = https://github.com/zsipos/linux
[submodule "kernel/initramfs/busybox"]
	path = kernel/initramfs/busybox
	url = git://busybox.net/busybox.git
[submodule "gateware/soc/cores/aes/verilog"]
	path = gateware/soc/cores/aes/verilog
	url = https://github.com/zsipos/aes
[submodule "gateware/soc/cores/sha1/verilog"]
	path = gateware/soc/cores/sha1/verilog
	url = https://github.com/zsipos/sha1
[submodule "toolchain/riscv-openocd"]
	path = toolchain/riscv-openocd
	url = https://github.com/riscv/riscv-openocd
[submodule "gateware/soc/cores/sdcard/verilog"]
	path = gateware/soc/cores/sdcard/verilog
	url = https://github.com/mczerski/SD-card-controller
[submodule "software/fltk"]
	path = software/fltk
	url = https://github.com/zsipos/fltk
[submodule "software/microwindows"]
	path = software/microwindows
	url = https://github.com/zsipos/microwindows
[submodule "software/pjproject"]
	path = software/pjproject
	url = https://github.com/zsipos/pjproject
[submodule "software/zrtpcpp"]
	path = software/zrtpcpp
	url = https://github.com/zsipos/ZRTPCPP
[submodule "system/buildroot/buildroot"]
	path = system/buildroot/buildroot
	url = https://github.com/buildroot/buildroot
[submodule "gateware/liteiclink"]
	path = gateware/liteiclink
	url = https://github.com/zsipos/liteiclink
