[submodule "gateware/litex"]
	path = gateware/litex
	url = https://github.com/zsipos/litex
[submodule "gateware/migen"]
	path = gateware/migen
	url = https://github.com/m-labs/migen
[submodule "gateware/litedram"]
	path = gateware/litedram
	url = https://github.com/enjoy-digital/litedram
[submodule "gateware/liteeth"]
	path = gateware/liteeth
	url = https://github.com/enjoy-digital/liteeth
[submodule "riscv-gnu-toolchain"]
	path = toolchain/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
