[submodule "gateware/litex"]
	path = gateware/litex
	url = https://github.com/zsipos/litex
[submodule "gateware/migen"]
	path = gateware/migen
	url = https://github.com/m-labs/migen
[submodule "gateware/liteeth"]
	path = gateware/liteeth
	url = https://github.com/zsipos/liteeth
[submodule "riscv-gnu-toolchain"]
	path = toolchain/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "gateware/litedram"]
	path = gateware/litedram
	url = https://github.com/zsipos/litedram
[submodule "kernel/riscv-pk"]
	path = kernel/riscv-pk
	url = https://github.com/zsipos/riscv-pk
[submodule "kernel/linux"]
	path = kernel/linux
	url = https://github.com/zsipos/linux
[submodule "kernel/initramfs/busybox"]
	path = kernel/initramfs/busybox
	url = git://busybox.net/busybox.git
[submodule "gateware/soc/cores/aes/verilog"]
	path = gateware/soc/cores/aes/verilog
	url = https://github.com/zsipos/aes
[submodule "gateware/soc/cores/sha1/verilog"]
	path = gateware/soc/cores/sha1/verilog
	url = https://github.com/zsipos/sha1
[submodule "toolchain/riscv-openocd"]
	path = toolchain/riscv-openocd
	url = https://github.com/riscv/riscv-openocd
[submodule "gateware/soc/cores/sdcard/verilog"]
	path = gateware/soc/cores/sdcard/verilog
	url = https://github.com/mczerski/SD-card-controller
[submodule "software/fltk"]
	path = software/fltk
	url = https://github.com/zsipos/fltk
[submodule "software/microwindows"]
	path = software/microwindows
	url = https://github.com/zsipos/microwindows
[submodule "software/pjproject"]
	path = software/pjproject
	url = https://github.com/zsipos/pjproject
[submodule "software/zrtpcpp"]
	path = software/zrtpcpp
	url = https://github.com/zsipos/ZRTPCPP
[submodule "system/buildroot/buildroot"]
	path = system/buildroot/buildroot
	url = https://github.com/buildroot/buildroot
[submodule "gateware/liteiclink"]
	path = gateware/liteiclink
	url = https://github.com/zsipos/liteiclink
[submodule "toolchain/riscv-gnu-toolchain"]
	path = toolchain/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "toolchain/CMake"]
	path = toolchain/CMake
	url = https://github.com/Kitware/CMake


[submodule "kernel/sel4/projects/musllibc"]
	path = kernel/sel4/projects/musllibc
	url = https://github.com/zsipos/musllibc
[submodule "kernel/sel4/tools/nanopb"]
	path = kernel/sel4/tools/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "kernel/sel4/tools/riscv-pk"]
	path = kernel/sel4/tools/riscv-pk
	url = https://github.com/sel4proj/riscv-pk
[submodule "kernel/sel4/kernel"]
	path = kernel/sel4/kernel
	url = https://github.com/zsipos/seL4
[submodule "kernel/sel4/projects/seL4_libs"]
	path = kernel/sel4/projects/seL4_libs
	url = https://github.com/zsipos/seL4_libs
[submodule "kernel/sel4/tools/seL4"]
	path = kernel/sel4/tools/seL4
	url = https://github.com/zsipos/seL4_tools
[submodule "kernel/sel4/projects/seL4_projects_libs"]
	path = kernel/sel4/projects/seL4_projects_libs
	url = https://github.com/zsipos/seL4_projects_libs
[submodule "kernel/sel4/projects/sel4runtime"]
	path = kernel/sel4/projects/sel4runtime
	url = https://github.com/zsipos/sel4runtime
[submodule "kernel/sel4/projects/util_libs"]
	path = kernel/sel4/projects/util_libs
	url = https://github.com/zsipos/util_libs
[submodule "kernel/sel4/toplevels/sel4test"]
	path = kernel/sel4/toplevels/sel4test
	url = https://github.com/zsipos/sel4test
[submodule "kernel/sel4/tools/camkes-tool"]
	path = kernel/sel4/tools/camkes-tool
	url = https://github.com/seL4/camkes-tool
[submodule "kernel/sel4/projects/projects_libs"]
	path = kernel/sel4/projects/projects_libs
	url = https://github.com/SEL4PROJ/projects_libs
[submodule "kernel/sel4/tools/capdl"]
	path = kernel/sel4/tools/capdl
	url = https://github.com/seL4/capdl
[submodule "kernel/sel4/projects/picotcp"]
	path = kernel/sel4/projects/picotcp
	url = https://github.com/zsipos/picotcp
