# SPDX-FileCopyrightText: 2020 Esther Bergter <esther.bergter@vipcomag.de>
#
# SPDX-License-Identifier: GPL-3.0-or-later

#/etc/systemd/system/icestorage.service
[Unit]
Description=ICE Storage Server
After=network.target syslog.target

[Service]
ExecStart=/usr/bin/python /root/icestorage/icestorage.py
ExecStop=/usr/bin/pkill -F /var/run/icestorage.pid

[Install]
WantedBy=multi-user.target
